/* Base Styles */
body {
  color: royalblue;
  text-align: center;
  background-color: rgb(218, 235, 218);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
  overflow-x: hidden;
}

/* Typography */

/* Links & Accents */

/* Images */

/* Background Flowers */
.bg-flower {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.6;
  pointer-events: none;
}

/* Big Flowers */
.big-flower-1 { background-image: url("img/Big Flower.png"); width: 150px; height: 150px; top: 100px; left: 5%; transform: rotate(-15deg); }
.big-flower-2 { background-image: url("img/Big Flower.png"); width: 180px; height: 180px; top: 800px; right: 8%; transform: rotate(25deg); }
.big-flower-3 { background-image: url("img/Big Flower.png"); width: 160px; height: 160px; top: 1400px; left: 10%; transform: rotate(45deg); }
.big-flower-4 { background-image: url("img/Big Flower.png"); width: 170px; height: 170px; top: 200px; right: 12%; transform: rotate(-35deg); }
.big-flower-5 { background-image: url("img/Big Flower.png"); width: 155px; height: 155px; top: 500px; left: 3%; transform: rotate(60deg); }
.big-flower-6 { background-image: url("img/Big Flower.png"); width: 165px; height: 165px; top: 1000px; right: 15%; transform: rotate(-20deg); }
.big-flower-7 { background-image: url("img/Big Flower.png"); width: 175px; height: 175px; top: 350px; left: 18%; transform: rotate(30deg); }
.big-flower-8 { background-image: url("img/Big Flower.png"); width: 158px; height: 158px; top: 1600px; right: 6%; transform: rotate(-45deg); }
.big-flower-9 { background-image: url("img/Big Flower.png"); width: 162px; height: 162px; top: 650px; left: 25%; transform: rotate(15deg); }
.big-flower-10 { background-image: url("img/Big Flower.png"); width: 172px; height: 172px; top: 1200px; right: 20%; transform: rotate(-10deg); }
.big-flower-11 { background-image: url("img/Big Flower.png"); width: 152px; height: 152px; top: 450px; left: 8%; transform: rotate(50deg); }
.big-flower-12 { background-image: url("img/Big Flower.png"); width: 168px; height: 168px; top: 1800px; right: 18%; transform: rotate(-30deg); }
.big-flower-13 { background-image: url("img/Big Flower.png"); width: 154px; height: 154px; top: 250px; left: 22%; transform: rotate(40deg); }
.big-flower-14 { background-image: url("img/Big Flower.png"); width: 176px; height: 176px; top: 900px; right: 3%; transform: rotate(-25deg); }
.big-flower-15 { background-image: url("img/Big Flower.png"); width: 164px; height: 164px; top: 1500px; left: 15%; transform: rotate(20deg); }
.big-flower-16 { background-image: url("img/Big Flower.png"); width: 156px; height: 156px; top: 550px; right: 25%; transform: rotate(-40deg); }
.big-flower-17 { background-image: url("img/Big Flower.png"); width: 178px; height: 178px; top: 150px; left: 12%; transform: rotate(35deg); }
.big-flower-18 { background-image: url("img/Big Flower.png"); width: 160px; height: 160px; top: 1100px; right: 10%; transform: rotate(-15deg); }
.big-flower-19 { background-image: url("img/Big Flower.png"); width: 166px; height: 166px; top: 750px; left: 20%; transform: rotate(55deg); }
.big-flower-20 { background-image: url("img/Big Flower.png"); width: 174px; height: 174px; top: 1700px; right: 22%; transform: rotate(-50deg); }
.big-flower-21 { background-image: url("img/Big Flower.png"); width: 151px; height: 151px; top: 400px; left: 6%; transform: rotate(25deg); }
.big-flower-22 { background-image: url("img/Big Flower.png"); width: 169px; height: 169px; top: 1300px; right: 16%; transform: rotate(-35deg); }
.big-flower-23 { background-image: url("img/Big Flower.png"); width: 157px; height: 157px; top: 50px; left: 28%; transform: rotate(45deg); }
.big-flower-24 { background-image: url("img/Big Flower.png"); width: 173px; height: 173px; top: 950px; right: 5%; transform: rotate(-20deg); }
.big-flower-25 { background-image: url("img/Big Flower.png"); width: 163px; height: 163px; top: 1550px; left: 2%; transform: rotate(10deg); }

/* Medium Flowers */
.medium-flower-1 { background-image: url("img/medium flower.png"); width: 100px; height: 100px; top: 300px; right: 15%; transform: rotate(-30deg); }
.medium-flower-2 { background-image: url("img/medium flower.png"); width: 110px; height: 110px; top: 600px; left: 12%; transform: rotate(60deg); }
.medium-flower-3 { background-image: url("img/medium flower.png"); width: 95px; height: 95px; top: 1200px; right: 10%; transform: rotate(-45deg); }
.medium-flower-4 { background-image: url("img/medium flower.png"); width: 105px; height: 105px; top: 1800px; right: 5%; transform: rotate(15deg); }
.medium-flower-5 { background-image: url("img/medium flower.png"); width: 98px; height: 98px; top: 150px; left: 16%; transform: rotate(-20deg); }
.medium-flower-6 { background-image: url("img/medium flower.png"); width: 108px; height: 108px; top: 750px; right: 18%; transform: rotate(35deg); }
.medium-flower-7 { background-image: url("img/medium flower.png"); width: 102px; height: 102px; top: 450px; left: 7%; transform: rotate(-40deg); }
.medium-flower-8 { background-image: url("img/medium flower.png"); width: 96px; height: 96px; top: 1350px; right: 12%; transform: rotate(50deg); }
.medium-flower-9 { background-image: url("img/medium flower.png"); width: 112px; height: 112px; top: 900px; left: 23%; transform: rotate(-25deg); }
.medium-flower-10 { background-image: url("img/medium flower.png"); width: 104px; height: 104px; top: 250px; right: 8%; transform: rotate(40deg); }
.medium-flower-11 { background-image: url("img/medium flower.png"); width: 99px; height: 99px; top: 1650px; left: 18%; transform: rotate(-35deg); }
.medium-flower-12 { background-image: url("img/medium flower.png"); width: 107px; height: 107px; top: 550px; right: 22%; transform: rotate(20deg); }
.medium-flower-13 { background-image: url("img/medium flower.png"); width: 101px; height: 101px; top: 1050px; left: 9%; transform: rotate(-50deg); }
.medium-flower-14 { background-image: url("img/medium flower.png"); width: 109px; height: 109px; top: 350px; right: 3%; transform: rotate(30deg); }
.medium-flower-15 { background-image: url("img/medium flower.png"); width: 97px; height: 97px; top: 1450px; left: 14%; transform: rotate(-15deg); }
.medium-flower-16 { background-image: url("img/medium flower.png"); width: 103px; height: 103px; top: 200px; right: 25%; transform: rotate(45deg); }
.medium-flower-17 { background-image: url("img/medium flower.png"); width: 111px; height: 111px; top: 850px; left: 4%; transform: rotate(-28deg); }
.medium-flower-18 { background-image: url("img/medium flower.png"); width: 106px; height: 106px; top: 1550px; right: 14%; transform: rotate(25deg); }
.medium-flower-19 { background-image: url("img/medium flower.png"); width: 100px; height: 100px; top: 500px; left: 26%; transform: rotate(-55deg); }
.medium-flower-20 { background-image: url("img/medium flower.png"); width: 94px; height: 94px; top: 1150px; right: 7%; transform: rotate(18deg); }
.medium-flower-21 { background-image: url("img/medium flower.png"); width: 105px; height: 105px; top: 400px; left: 11%; transform: rotate(-42deg); }
.medium-flower-22 { background-image: url("img/medium flower.png"); width: 98px; height: 98px; top: 1750px; right: 20%; transform: rotate(35deg); }
.medium-flower-23 { background-image: url("img/medium flower.png"); width: 110px; height: 110px; top: 650px; left: 20%; transform: rotate(-18deg); }
.medium-flower-24 { background-image: url("img/medium flower.png"); width: 102px; height: 102px; top: 50px; right: 11%; transform: rotate(52deg); }
.medium-flower-25 { background-image: url("img/medium flower.png"); width: 108px; height: 108px; top: 1250px; left: 5%; transform: rotate(-32deg); }

/* Small Flowers */
.small-flower-1 { background-image: url("img/small flower.png"); width: 60px; height: 60px; top: 200px; right: 20%; transform: rotate(20deg); }
.small-flower-2 { background-image: url("img/small flower.png"); width: 70px; height: 70px; top: 450px; left: 8%; transform: rotate(-25deg); }
.small-flower-3 { background-image: url("img/small flower.png"); width: 65px; height: 65px; top: 900px; left: 15%; transform: rotate(35deg); }
.small-flower-4 { background-image: url("img/small flower.png"); width: 55px; height: 55px; top: 1100px; right: 18%; transform: rotate(-40deg); }
.small-flower-5 { background-image: url("img/small flower.png"); width: 68px; height: 68px; top: 1900px; right: 12%; transform: rotate(50deg); }
.small-flower-6 { background-image: url("img/small flower.png"); width: 62px; height: 62px; top: 350px; left: 19%; transform: rotate(-15deg); }
.small-flower-7 { background-image: url("img/small flower.png"); width: 58px; height: 58px; top: 700px; right: 9%; transform: rotate(30deg); }
.small-flower-8 { background-image: url("img/small flower.png"); width: 66px; height: 66px; top: 550px; left: 24%; transform: rotate(-35deg); }
.small-flower-9 { background-image: url("img/small flower.png"); width: 64px; height: 64px; top: 1300px; right: 6%; transform: rotate(42deg); }
.small-flower-10 { background-image: url("img/small flower.png"); width: 72px; height: 72px; top: 150px; left: 13%; transform: rotate(-28deg); }
.small-flower-11 { background-image: url("img/small flower.png"); width: 57px; height: 57px; top: 1500px; right: 23%; transform: rotate(22deg); }
.small-flower-12 { background-image: url("img/small flower.png"); width: 69px; height: 69px; top: 800px; left: 6%; transform: rotate(-48deg); }
.small-flower-13 { background-image: url("img/small flower.png"); width: 61px; height: 61px; top: 250px; right: 14%; transform: rotate(38deg); }
.small-flower-14 { background-image: url("img/small flower.png"); width: 67px; height: 67px; top: 1650px; left: 21%; transform: rotate(-20deg); }
.small-flower-15 { background-image: url("img/small flower.png"); width: 63px; height: 63px; top: 500px; right: 16%; transform: rotate(45deg); }
.small-flower-16 { background-image: url("img/small flower.png"); width: 59px; height: 59px; top: 1050px; left: 10%; transform: rotate(-30deg); }
.small-flower-17 { background-image: url("img/small flower.png"); width: 71px; height: 71px; top: 400px; right: 4%; transform: rotate(28deg); }
.small-flower-18 { background-image: url("img/small flower.png"); width: 56px; height: 56px; top: 1750px; left: 17%; transform: rotate(-52deg); }
.small-flower-19 { background-image: url("img/small flower.png"); width: 65px; height: 65px; top: 650px; right: 21%; transform: rotate(15deg); }
.small-flower-20 { background-image: url("img/small flower.png"); width: 60px; height: 60px; top: 100px; left: 27%; transform: rotate(-38deg); }
.small-flower-21 { background-image: url("img/small flower.png"); width: 68px; height: 68px; top: 1200px; right: 11%; transform: rotate(32deg); }
.small-flower-22 { background-image: url("img/small flower.png"); width: 58px; height: 58px; top: 850px; left: 3%; transform: rotate(-22deg); }
.small-flower-23 { background-image: url("img/small flower.png"); width: 64px; height: 64px; top: 1450px; right: 19%; transform: rotate(48deg); }
.small-flower-24 { background-image: url("img/small flower.png"); width: 70px; height: 70px; top: 300px; left: 22%; transform: rotate(-12deg); }
.small-flower-25 { background-image: url("img/small flower.png"); width: 62px; height: 62px; top: 1600px; right: 7%; transform: rotate(25deg); }

/* Hero Section */

/* Main Content */
main {
  position: relative;
  z-index: 1;
}

header {
  position: relative;
  z-index: 1;
}

/* About Section */

/* Specials Section */

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
